

.nameHead{
    margin-top: 55px;
    margin-left: 65px;
}

.discHead{
    margin-left: 65px;
    color: blue;
    
}

.discHeadedu{
    margin-left: 65px;
}

.list{
    margin-left: 45px; 
}